body, .inventory-bg, .room-view-bg {
    position: fixed;
    top:0;
    left:0;
    width:100%
}

body{
    background-color: black;
    margin:0;
    height:100%;
    z-index: 0;
}

.inventory-bg {
    background-color: rgba(0,0,0,0.5);
    height: 10%;
    z-index:2;
}

.inventory-column {
    float:left;
    width:6%;
    height:auto;
    padding: 0% 1% 0% 1%;
}

.inventory-title{
    width:100%;
    height:100%;
}
.inventory-item {
    width:100%;
    height:100%; 
}

.room-view-bg {
    position:absolute;
    background-color: white;
    top:0%;
    height:100%;
}
.room-view{
    width:100%;
    height:100%;
}
.grid-view-bg {
    position:absolute;
    background-color: transparent;
    top:0%;
    height:100%;
    width:100%;
    /* z-index:9; */
}
.grid-view{
    opacity:50%;
    background-size:100% 100%;
    width:100%;
    height:100%;
}
.puzzle-view-bg{
    position:absolute;
    background-color: rgba(0,0,0,0.6);
    top:0%;
    left:50%;
    transform: translate(-50%, 0);
    height:100%;
    width:100%;
    z-index:1;
    display:none;
}
.puzzle-view{
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    height: 100%;
    z-index:2; 
}
.dialogue-bg{
    position: absolute;
    padding: 0% 1% 0% 1%;
    top:80%;
    left:50%;
    transform: translate(-50%, 0);
    max-width: 25%;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.8);
    display: none;
    z-index:2;
}

.dialogue-text{
    color: white;
    text-align: center;
}
.dialogue-btn-container{
    display:none;
    justify-content: center;
}
.interact-btn{
    text-align: center;
    background-color: rgb(66, 66, 66);
    color: white;
    border: 10px, solid, black;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    opacity: 1;
    z-index: 3;
}
.interact-btn:hover{
    background-color: rgb(148, 147, 147);
    cursor: pointer;
}

.nav-btn{
    position: absolute;
    background: transparent;
    background-image:  url("./images/interactions/move.png");
    background-size: contain;
    height: 40px;
    width: 40px;
    border: none;
    top: 50%;
    left: 50%;
}
.nav-btn:hover{
    cursor:pointer;
}

.hidden-btn{
    position: absolute;
    background: transparent;
    height:5%;
    width: 5%;
    rotate: 0deg;
    top: 50%;
    left: 50%;
    /* border: 2px solid black ; */
    border: 2px solid transparent;
    
}
.long-text-bg{
    position: absolute;
    padding: 0% 1% 0% 1%;
    top:20%;
    left:50%;
    transform: translate(-50%, 0);
    max-width: 40%;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.8);
    z-index:4;
}
.long-text-text {
    color: white;
    text-align: center;
}
.long-text-exit {
    cursor:pointer;
    color:white;
    background-color: transparent;
    padding: 1px;
    border: 2px solid white;
    position: absolute;
    top:0%;
    right:0%;
}
.explanation-btn{
    display:flex;
    flex-direction: column;
    background-image: url("./images/puzzles/explanation.png");
    background-size: contain;
    background-repeat: no-repeat;
    height:5%;
    width:5%; /*Jank to stop button being span*/
    cursor:pointer;

}
.exit-btn{
    margin-top:10vh;
    display:flex;
    flex-direction: column;
    background-image: url("./images/puzzles/exit.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 5%;
    width:5%; /*Jank to stop button being span*/
    cursor:pointer;

}
.hint-btn{
    display:flex;
    flex-direction: column;
    background-image: url("./images/puzzles/hint.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 5%;
    width:5%; /*Jank to stop button being span*/
    cursor:pointer;

}.vol-up-btn{
    display:flex;
    flex-direction: column;
    background-image: url("./images/puzzles/vol_up.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 5%;
    width:5%; /*Jank to stop button being span*/
    cursor:pointer;

}
.vol-down-btn{
    display:flex;
    flex-direction: column;
    background-image: url("./images/puzzles/vol_down.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 5%;
    width:5%; /*Jank to stop button being span*/
    cursor:pointer;

}
.play-pause-btn{
    display:flex;
    flex-direction: column;
    background-image: url("./images/puzzles/play_pause.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 5%;
    width:5%; /*Jank to stop button being span*/
    cursor:pointer;
}
.reset-btn{
    display:flex;
    flex-direction: column;
    background-image: url("./images/puzzles/reset.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 5%;
    width:5%; /*Jank to stop button being span*/
    cursor:pointer;
}
.weigh-btn{
    display:flex;
    flex-direction: column;
    background-image: url("./images/puzzles/scales.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 5%;
    width:5%; /*Jank to stop button being span*/
    cursor:pointer;
}
.answer-input-bg{
    position: absolute;
    bottom:5%;
    left:50%;
    transform: translate(-50%, 0);
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.8);
    z-index: 3;
}
.answer-input{
    background-color: white;
    padding-top:5px;
    width:70%;
}
.answer-btn{
    cursor:pointer;
    border-radius:1px;
    display: inline;
    padding: 3px;
    margin-left: 5%;
    background-color: white;
}
.hint-bg{
    position: absolute;
    padding: 0% 1% 0% 1%;
    top:30%;
    left:1%;
    width: 20%;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.8);
    z-index:3;
}
.hint-dropdown{
    margin-left: 30%;
    padding-top:3px;
    padding-bottom:2px;
    color:black;
}
.hint-text{
    color: white;
    text-align: center;
}
.hide-hint {
    cursor:pointer;
    color:white;
    background-color: transparent;
    padding: 1px;
    border: 2px solid white;
    position: absolute;
    top:0%;
    right:0%;
}
.hint-title{
    color: white;
    text-align:center;
}
.show-hint{
    cursor:pointer;
    border-radius:1px;
    display: inline;
    padding: 3px;
    margin-left: 5%;
    background-color: white;
}
.scales-sprite-div{
    position:absolute;
    left: 15%;
    height: 70%;
    width: 70%;
    z-index:2;  
}
.scales-sprite{
    position:absolute;
    height: 100%;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    z-index:3; 
}

@keyframes right-scales{
    50% {transform: rotate(10deg);}
}
@keyframes left-scales {
    50% {transform: rotate(-10deg);}
}
@keyframes neither-scales {
    25% {transform: rotate(2deg);}
    50% {transform: rotate(-4deg);}
    75% {transform: rotate(2deg);}
}

@keyframes up-left-balls{
    50% {transform: translate(0,-17%) rotate(10deg);}
}
@keyframes down-left-balls {
    50% {transform: translate(0,17%) rotate(-10deg);}
}
@keyframes up-right-balls{
    50% {transform: translate(0,-17%) rotate(-10deg);}
}
@keyframes down-right-balls {
    50% {transform: translate(0,17%) rotate(10deg);}
}
@keyframes neither-left-balls {
    25% {transform: translate(0,-3.4%) rotate(2deg);}
    50% {transform: translate(0,6.8%) rotate(-4deg);}
    75% {transform: translate(0,-3.4%) rotate(2deg);}
}
@keyframes neither-right-balls {
    25% {transform: translate(0,3.4%) rotate(2deg);}
    50% {transform: translate(0,-6.8%) rotate(-4deg);}
    75% {transform: translate(0,3.4%) rotate(2deg);}
}

.ball-sprite{
    position:absolute;
    left:27%;
    width: 3%;
    height: auto;
    padding-left: 4px;
    padding-right: 4px;
    top:70%;
    z-index:3; 
}
.ball-div{
    position: absolute;
    width:12%;
    top:15%;
    height: 20%;
    z-index:4; 
    transform-origin: bottom;
}
.button-block{
    position:absolute;
    top:10%;
    left:0%;
    width:100%;
    height: 90%;
    z-index: 5;
}